---
import PageHeader from '@/components/PageHeader.astro';
import PageFooter from '@/components/PageFooter.astro';

import MainDeer from '@/assets/MainDeer.jpeg';

import '../styles/global.css';

interface Props {
  /** OGPページタイプ(必須) */
  ogType: 'website' | 'article';
  /** ページタイトル(任意) */
  title?: string;
  /** ページ説明(任意) */
  desctiption?: string;
}

const { ogType, title, desctiption } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={desctiption ? desctiption : 'イナジカのホームページです。'} />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    {/* OGP */}
    <meta property="og:locale" content="ja_JP">
    <meta property="og:type" content={ogType}>
    <meta property="og:title" content={title ? title : 'イナジカ.com'} />
    <meta property="og:url" content={Astro.url.toString()}>
    <meta property="og:image" content={`${Astro.url.origin}${MainDeer.src}`}>
    <meta property="og:description" content={desctiption ? desctiption : 'イナジカのホームページです。'}>
    <link rel="icon" href="/favicon.ico" />
    <title>{title ? `${title} - イナジカ.com` : 'イナジカ.com'}</title>
  </head>
  <body class="min-h-screen max-w-screen grid grid-rows-[1fr_auto] max-sm:min-h-[240vw]">
    <main class="px-4 md:px-8 py-2 md:py-4 grid grid-rows-[auto_1fr]">
      <PageHeader />
      <slot />
    </main>
    <PageFooter />
  </body>
</html>
